{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Новая заявка{% endblock %}
{% block page_name %}Новая заявка{% endblock %}
{% block mini_page_name %}
    <li><a href="{% url 'master_request' %}">Вызов мастера</a></li>
    <li class="active">Новая заявка</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="box">
    <div class="box-body">
        <form id="RequestCreateForm" novalidate method="post"
              action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 margin-bottom-20">
                        <label>Владелец квартиры</label>

                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Описание</label>

                    </div>
                    <div class="col-md-6 form-group">
                        <div class="col-md-12 margin-bottom-20">
                            <label>Квартира</label>

                        </div>
                        <div class="col-md-12 margin-bottom-20">
                            <label>Тип мастера</label>

                        </div>
                        <div class="col-md-12 margin-bottom-20">
                            <label>Статус</label>

                        </div>
                         <div class="col-md-12 margin-bottom-20">
                            <label>Мастер</label>

                        </div>
                    </div>
                </div>
            <div class="col-md-12 text-right">
                <div class="form-group">
                    <a href="{% url 'master_request' %}" class="btn btn-default">Отменить</a>
                    <button type="submit" name="save" class="btn btn-success">Сохранить</button>
                    <button type="submit" name="save_and_new" class="btn btn-success bg-green-active">Сохранить и добавить новую</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}