{% extends 'adminpanel/base.html' %}
{% load static %}
{%block master_request%}class="active"{%endblock%}
{% block title %}Новая заявка{% endblock %}
{% block page_name %}Новая заявка{% endblock %}
{% block mini_page_name %}
    <li><a href="{% url 'master_request' %}">Вызов мастера</a></li>
    <li class="active">Новая заявка</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<form id="RequestCreateForm" novalidate method="post"
      action="" enctype="multipart/form-data" data-flat-master-url="{% url 'master_select_flat' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"> </div>
                        {{ master_request.date }}
                    </div>
                </div>
                <span class="label-mid">от</span>
                <div class="form-group">
                    <div class="input-group">
                        {{ master_request.time }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 margin-bottom-20">
                        <label>Владелец квартиры</label>
                        {{ master_request.owner }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Описание</label>
                        {{ master_request.description }}
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="col-md-12 margin-bottom-20">
                        <label>Квартира</label>
                        {{ master_request.flat }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Тип мастера</label>
                        {{ master_request.type_master }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Статус</label>
                        {{ master_request.status }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Мастер</label>
                        {{ master_request.master }}
                    </div>
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <label>Комментарий</label>
                    {{ master_request.media }}
                    {{ master_request.comment }}
                </div>
                <div class="col-md-12 text-right">
                    <div class="form-group">
                        <a href="{% url 'master_request' %}" class="btn btn-default">Отменить</a>
                        <button type="submit" name="save" class="btn btn-success">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

