{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Квартира {{ master_request.flat }}, {{ master_request.flat.house }}{% endblock %}
{% block page_name %}Заявка №{{ master_request.id }}{% endblock %}
{% block mini_page_name %}
    <li><a href="{% url 'master_request' %}">Заявки вызова мастера</a></li>
    <li class="active">Заявка №{{ master_request.id }}</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"> </div>
                        <div class="form-control">{{ master_request.date|date:'d.m.Y' }}</div>
                    </div>
                </div>
                <span class="label-mid">от</span>
                <div class="form-group">
                    <div class="input-group">
                        <div class="form-control">{{ master_request.time }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border text-right">
                <a class="btn btn-primary btn-sm" href="{% url 'master_request_update' master_request.id %}">
                    <span class="hidden-xs">Редактировать заявку</span>
                    <i class="fa fa-pencil visible-xs"></i>
                </a>
            </div>
            <div class="box-body row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th class="col-md-6">Статус</th>
                            <td>
                                {% if master_request.status.id == 1 %}
                                <label class="label label-primary">{{ master_request.status }}</label>
                                {% elif master_request.status.id == 2 %}
                                <label class="label label-warning">{{ master_request.status }}</label>
                                {% else %}
                                <label class="label label-success">{{ master_request.status }}</label>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="col-md-6">Владелец</th>
                            <td>
                                {% if master_request.owner %}
                                <a href="{% url 'apartment_owner_info' master_request.owner.id %}">{{ master_request.owner }}</a>
                                {% else %}
                                не указано
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="col-md-6">Телефон</th>
                            <td>
                                {% if invoice.flat.owner.telephone %}
                                {{ invoice.flat.owner.telephone }}
                                {% else %}
                                не указано
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="col-md-6">Квартира</th>
                            <td>
                                {% if master_request.flat %}
                                <a href="{% url 'flat_info' master_request.flat.id %}">{{ master_request.flat }}</a>
                                {% else %}
                                не указано
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="col-md-6">Тип мастера</th>
                            <td>
                                {% if master_request.type_master %}
                                {{ master_request.type_master }}
                                {% else %}
                                не указано
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="col-md-6">Мастер</th>
                            <td>
                                {% if master_request.master %}
                                <a href="{% url 'setting_user_admin_info' master_request.master.id %}">{{ master_request.master }}</a>
                                {% else %}
                                не указано
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="col-md-6">Описание</th>
                            <td>
                                {% if master_request.description %}
                                    {{ master_request.description }}
                                {% else %}
                                    не указано
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="col-md-6">Добавлено</th>
                            <td>
                                {{ master_request.date|date:'d.m.Y' }} - {{ master_request.time }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}