{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Новая квитанция{% endblock %}
{% block page_name %}Новая квитанция{% endblock %}
{% block mini_page_name %}
    <li><a href="{% url 'invoice' %}">Квитанции</a></li>
    <li class="active">Новая квитанция</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<form id="InvoiceCreateForm" novalidate method="post"
      action="" enctype="multipart/form-data"
    data-section-url="{% url 'select_section_counter' %}"
      data-flat-url="{% url 'select_flat_counter' %}"
      data-order-flat-url="{% url 'order_flat_counter' %}"
      data-username-url="{% url 'select_username_account' %}"
      data-phone-url="{% url 'select_phone_account' %}"
      data-account-url="{% url 'select_account_invoice' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"> № </div>
                        {{ invoice.number }}
                    </div>
                </div>
                <span class="label-mid">от</span>
                <div class="form-group">
                    <div class="input-group">
                        {{ invoice.date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="row col-md-6">
                <div class="col-md-12 margin-bottom-15">
                    <label>Дом</label>
                    <select id="id-house-invoice" name="house" class="form-control" title="Выберите...">
                        <option value="">Выберите...</option>
                        {% for obj in house %}
                            <option value="{{ obj.id }}">{{ obj.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <label>Секция</label>
                    <select id="id-section-invoice" class="form-control" title="Выберите...">
                         <option value="">Выберите...</option>
                        {% if section %}
                            {% for obj in section %}
                                    <option value="{{ obj.id }}">{{ obj.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <label>Квартира</label>
                    {{ invoice.flat }}
                </div>
            </div>
            <div class="row col-md-6">
                <div class="col-md-12 margin-bottom-15">
                    {{ invoice.is_carried }}
                    <label>Проведена</label>
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <label>Статус</label>
                    {{ invoice.status }}
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <label>Тариф</label>
                    {{ invoice.tariff }}
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <div class="col-md-6">
                        <label>Период с</label>
                        {{ invoice.date_first }}
                    </div>
                    <div class="col-md-6">
                        <label>Период по</label>
                        {{ invoice.date_last }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 margin-bottom-20">
                <label>Лицевой счет</label>
                <input id="id-account-invoice" class="form-control margin-bottom-15" type="text" name="account">
                <p>
                    <b>Владелец:</b>
                    <span id="user-fullname">не выбран</span>
                </p>
                <p>
                    <b>Телефон:</b>
                    <span id="user-phone">не выбран</span>
                </p>
            </div>
            <div class="col-md-12 margin-bottom-20">
                <table class="table">
                    <theader>
                        <tr>
                            <th scope="col">Услуга</th>
                            <th scope="col">Расход</th>
                            <th scope="col">Ед.изм.</th>
                            <th scope="col">Цена за ед., грн.</th>
                            <th scope="col">Стоимость, грн</th>
                        </tr>
                    </theader>
                    <tbody>
                        <tr>
                            <td scope="row">{{ service.service }}</td>
                            <td scope="row">{{ service.consumption }}</td>
                            <td scope="row">{{ service.unit_service }}</td>
                            <td scope="row">{{ service.currency }}</td>
                            <td scope="row"><input class="form-control"></td>
                            <td scope="row">
                                <button class="btn btn-default btn-sm" title="Удалить">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <button type="button" class="btn btn-default btn-hover-change">Добавить услугу</button>
                                <button type="button" class="btn btn-default btn-hover-change">Установить все услуги согласно тарифу</button>
                                <button type="button" class="btn btn-default btn-hover-change">Добавить показания счетчиков</button>
                            </td>
                            <td scope="row">
                                <h4>Итоги: 0.0 грн.</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 text-right">
                <div class="form-group">
                    <a href="{% url 'invoice' %}" class="btn btn-default">Отменить</a>
                    <button type="submit" name="save" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <h3>Показания счетчиков</h3>
        </div>
        <div class="box-body">
            <table class="table">
                    <theader>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Месяц</th>
                            <th scope="col">Дом</th>
                            <th scope="col">Секция</th>
                            <th scope="col">№ квартиры</th>
                            <th scope="col">Счетчик</th>
                            <th scope="col">Показания</th>
                            <th scope="col">Ед. изм.</th>
                        </tr>
                    </theader>
                    <tbody>
                        {% for obj in counters_data %}
                        <tr>
                            <td scope="row">{{ obj.number }}</td>
                            <td scope="row">
                                {% if obj.status %}
                                    {% if obj.status.id == 1 %}
                                    <small class="label label-warning">
                                    {% elif obj.status.id == 2 or  obj.status.id == 3%}
                                    <small class="label label-success">
                                    {% else %}
                                    <small class="label label-primary">
                                    {% endif %}
                                        {{ obj.status }}</small>
                                {% else %}
                                не задано
                                {% endif %}
                            </td>
                            <td scope="row">{{ obj.date | date:'d.m.Y' }}</td>
                            <td scope="row">{{ obj.date | date:'F Y' }}</td>
                            <td scope="row">{{ obj.flat.house }}</td>
                            <td scope="row">{{ obj.flat.section }}</td>
                            <td scope="row">{{ obj.flat.number_flat }}</td>
                            <td scope="row">{{ obj.counter }}</td>
                            <td scope="row">{{ obj.counter_data }}</td>
                            <td scope="row">{{ obj.counter.unit }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>
</form>
{% endblock %}