{% extends 'adminpanel/base.html' %}
{% load static %}
{%block owner%}class="active"{%endblock%}
{% block title %}Владельцы квартир{% endblock %}
{% block page_name %}Владельцы квартир{% endblock %}
{% block mini_page_name %}
    <li class="active">Владельцы квартир</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group pull-right margin-bottom">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выберите действие
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'apartment_owner_create' %}">Добавить владельца квартиры</a></li>
                <li><a href="{% url 'user_message_create_is_debt' 1 %}">Отправить сообщение должникам</a></li>
                <li><a href="{% url 'apartment_owner_invite' %}">Отправить приглашение</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="box" style="overflow-x: auto">
    <div class="box-header with-border pull-right">
        <a class="btn btn-default" href="">Очистить</a>
    </div>
    <div class="grid-view">
        <table id="UserTable" class="table table-striped table-bordered table-hover table_sort">
            <thead>
            <tr>
                <th class="col" style="min-width:100px">ID</th>
                <th class="col" style="min-width:100px">ФИО</th>
                <th class="col" style="min-width: 110px">Телефон</th>
                <th class="col" style="min-width:200px">Email</th>
                <th class="col" style="min-width:200px">Дом</th>
                <th class="col" style="min-width:200px">Квартира</th>
                <th class="col" style="min-width:180px">Добавлен</th>
                <th class="col" style="min-width:100px">Статус</th>
                <th class="col" style="min-width:100px">Есть долг</th>
                <th class="col" style="min-width:120px"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr onclick="location.href='{% url 'apartment_owner_info' user.id %}'">
                <td>{{ user.personal_id }}</td>
                <td>{{ user.first_name }} {{ user.last_name }} {{ user.patronymic }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for flat_info in user.flat_set.all %}
                        <a href="{% url 'info_house' flat_info.house.id %}">{{ flat_info.house }}</a>,<br>
                    {% endfor %}
                </td>
                <td>
                    {% for flat_info in user.flat_set.all %}
                    <a href="{% url 'flat_info' flat_info.id %}">{{ flat_info }}</a><br>
                    {% endfor %}
                </td>
                <td>{{ user.date_joined|date:'d.m.Y' }}</td>
                <td>
                    {% if user.status_id == 1 %}
                    <label class="label label-success">{{ user.status }}</label>
                    {% elif user.status_id == 2 %}
                    <label class="label label-warning">{{ user.status }}</label>
                    {% else %}
                    <label class="label label-danger">{{ user.status }}</label>
                    {% endif %}
                </td>
                <td>
                    {% if user.saldo < 0 %}
                        Да
                    {% else %}

                    {% endif %}
                </td>
                <td class="text-center">
                    <div class="btn-group pull-center">
                        <a class="btn btn-default btn-sm" href="{% url 'user_message_create_to_user' user.id %}" title="Отправить пильмо" data-toggle="tooltip">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a class="btn btn-default btn-sm" href="{% url 'apartment_owner_update' user.id %}" title="Редактировать" data-toggle="tooltip">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-default btn-sm" href="{% url 'apartment_owner_delete' user.id %}" onclick="return confirmDelete()" title="Удалить" data-toggle="tooltip">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <div class="box-footer clearfix">
        <div>
            Количество владельцев:
            <span class="text-bolt">{{ users.count }}</span>
        </div>
    </div>
</div>

{% endblock %}