{% extends 'adminpanel/base.html' %}
{% load static %}
{%block owner%}class="active"{%endblock%}
{% block title %}Профиль владельца{% endblock %}
{% block page_name %}Профиль владельца{% endblock %}
{% block mini_page_name %}
    <li><a href="{% url 'apartment_owner' %}">Владельцы квартир</a></li>
    <li class="active">Профиль владельца</li>
{% endblock %}
{% block content %}
<div class="box col-md-12">
    <div class="box-header with-border text-right">
        <a href="" class="btn btn-default">
            <i class="fa fa-external-link"></i>
            Перейти в кабинет
        </a>
        <a href="{% url 'apartment_owner_update' user.id %}" class="btn btn-primary">Редактировать профиль</a>
    </div>
    <div class="box-body row">
        <div class="col-md-12">
            <div class="userAvatar">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="img-circle img-responsive">
                {% else %}
                <img src="{% static 'img/default.jpg' %}" class="img-circle img-responsive">
                {% endif %}
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr>
                    <th class="col-md-6">Статус</th>
                    <td>
                        {% if user.status_id == 1 %}
                        <label class="label label-success">{{ user.status }}</label>
                        {% elif user.status_id == 2 %}
                        <label class="label label-warning">{{ user.status }}</label>
                        {% else %}
                        <label class="label label-danger">{{ user.status }}</label>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="col-md-6">ID</th>
                    <td>{{ user.personal_id }}</td>
                </tr>
                <tr>
                    <th class="col-md-6">Фамилия</th>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <th class="col-md-6">Имя</th>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <th class="col-md-6">Отчество</th>
                    <td>{{ user.patronymic }}</td>
                </tr>
                <tr>
                    <th class="col-md-6">Дата рождения</th>
                    <td>{{ user.birthday }}</td>
                </tr>
                <tr>
                    <th class="col-md-6">О владельце (заметки)</th>
                    <td>{{ user.about_owner }}</td>
                </tr>
                <tr>
                    <th class="col-md-6">Телефон</th>
                    <td>{{ user.telephone }}</td>
                </tr>
                <tr>
                    <th class="col-md-6">Viber</th>
                    <td>{{ user.viber }}</td>
                </tr>
                <tr>
                    <th class="col-md-6">Telegram</th>
                    <td>{{ user.telegram }}</td>
                </tr>
                <tr>
                    <th class="col-md-6">Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 page-header">
            <h2>Квартиры</h2>
        </div>
        <div class="col-md-12" style="overflow-x: auto">
            <table class="table table-responsive table-striped table-bordered">
                <thead>
                <tr>
                    <th class="col" style="min-width:20px">#</th>
                    <th class="col" style="min-width:100px">Дом</th>
                    <th class="col" style="min-width:100px">Секция</th>
                    <th class="col" style="min-width:100px">Квартира</th>
                    <th class="col" style="min-width:50px">Лицевой счет</th>
                </tr>
                </thead>
                <tbody>
                {%  for obj in user.flat_set.all %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td><a href="{% url 'info_house' obj.house.id %}">{{ obj.house }}</a></td>
                    <td>{{ obj.section }}</td>
                    <td><a href="{% url 'flat_info' obj.id %}">{{ obj.number_flat }}</a></td>
                    <td><a href="">{{ obj.account }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}