{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Касса{% endblock %}
{% block page_name %}Касса{% endblock %}
{% block mini_page_name %}
    <li class="active">Касса</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <div class="small-box bg-green overflow-hidden">
                        <div class="inner">
                            <h3>{{ balance.sum__sum }} грн</h3>
                            <p>Состояние кассы</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="small-box bg-blue overflow-hidden">
                        <div class="inner">
                            <h3>{{ account_balance.saldo__sum }} грн</h3>
                            <p>Баланс по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="small-box bg-red overflow-hidden">
                        <div class="inner">
                            <h3>{{ account_debt.saldo__sum }} грн</h3>
                            <p>Задолженность по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-group pull-right margin-bottom">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выберите действие
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'account_transaction_create' 1 %}">Создать приход</a></li>
                    <li><a href="{% url 'account_transaction_create' 2 %}">Создать расход</a></li>
                    <li><a href="">Выгрузить в Excel</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="box" style="overflow-x: auto">
    <div class="box-header with-border pull-right">
        <a class="btn btn-default" href="">Очистить</a>
    </div>
    <div class="grid-view">
        <table id="AccountTransactionTable" class="table table-striped table-bordered table-hover table_sort"
               data-section-url="{% url 'select_section_flat' %}">
            <thead>
            <tr>
                <th class="col" style="min-width:120px">№</th>
                <th class="col" style="min-width:150px">Дата</th>
                <th class="col" style="min-width: 100px">Статус</th>
                <th class="col" style="min-min-width:100px">Тип платежа</th>
                <th class="col" style="min-width:150px">Владелец</th>
                <th class="col" style="min-width: 100px">Лицевой счет</th>
                <th class="col" style="min-width: 100px">Приход/Расход</th>
                <th class="col" style="min-width: 100px">Сумма(грн)</th>
                <th class="col" style="min-width:100px"></th>
            </tr>
            </thead>
            <tbody id="AccountTransactionList">
            {% for obj in AccountTransaction %}
            <tr onclick="location.href='{% url 'account_transaction_info' obj.id %}'" class="table-data">
                <td class="account-trans-number" typeof="accountTransNumber">{{ obj.number }}</td>
                <td class="account-date-trans">{{ obj.date }}</td>
                <td class="account-status-trans">
                    {% if obj.is_complete %}
                    Проведен
                    {% else %}
                    Не проведен
                    {% endif %}
                </td>
                <td class="account-type-trans">
                    {% if obj.transaction %}
                    {{ obj.transaction }}
                    {% else %}
                    (не задано)
                    {% endif %}
                </td>
                <td class="account-owner-trans">
                    {% if obj.owner %}
                    {{ obj.owner }}
                    {% else %}
                    (не задано)
                    {% endif %}
                </td>
                <td class="account-trans">
                    {% if obj.account %}
                    {{ obj.account }}
                    {% else %}
                    (не задано)
                    {% endif %}
                </td>
                {% if obj.type.id == 1 %}
                <td class="trans text-green">{{ obj.type }}</td>
                <td class="summ text-green">{{ obj.sum }}</td>
                {% else %}
                <td class="trans text-red">{{ obj.type }}</td>
                <td class="summ text-red">{{ obj.sum }}</td>
                {% endif %}
                <td class="text-center">
                    <div class="btn-group pull-center">
                        <a class="btn btn-default btn-sm" href="{% url 'account_transaction_update' obj.id %}" title="Редактировать" data-toggle="tooltip">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-default btn-sm" href="{% url 'account_transaction_delete' obj.id %}" onclick="return confirmDelete()" title="Удалить" data-toggle="tooltip">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <div>
            Проведен приход:
            <span class="text-bolt">{{ sum_coming.sum__sum }}</span>
        </div>
        <div>
            Проведен расход:
            <span class="text-bolt">{{ sum_consumption.sum__sum }}</span>
        </div>
    </div>
</div>

{% endblock %}