{% extends 'adminpanel/base.html' %}
{% load static %}
{%block web%}class="treeview active"{%endblock%}
{%block web_main%}class="active"{%endblock%}
{% block title %}Редактирование страницы{% endblock %}
{% block page_name %}Редактирование страницы{% endblock %}
{% block mini_page_name %}
    <li class="active">Редактирование страницы</li>
{% endblock %}
{% block content %}
<div class="box">
    <div class="box-body">
        <form method="post" action="" enctype="multipart/form-data">
            <div class="container col-md-12">
            {% csrf_token %}
            {{ formset.management_form }}
            <div class="col-xm-12"><h3>Редактирование страницы "Главная"</h3></div>
            <div class="col-xm-12 row site-main-slider">
                <h3 class="col-md-12 margin-bottom-20 page-header">Слайдер</h3>
                <div class="col-md-4 hidden-edit-image">
                    <h4>Слайд 1</h4>
                    {% if slider_form.instance.slide_1 %}
                    <img src="{{ slider_form.instance.slide_1.url }}" class="margin-bottom-15">
                    {% else %}
                    <img src="{% static 'img/default.jpg'%}" class="margin-bottom-15">
                    {% endif %}
                    <label>Рекомендуемый размер: (1920х800)</label><br>
                    {{ slider_form.slide_1 }}
                </div>
                <div class="col-md-4">
                    <h4>Слайд 2</h4>
                    {% if slider_form.instance.slide_2 %}
                    <img src="{{ slider_form.instance.slide_2.url }}" class="margin-bottom-15">
                    {% else %}
                    <img src="{% static 'img/default.jpg'%}" class="margin-bottom-15">
                    {% endif %}
                    <label>Рекомендуемый размер: (1920х800)</label><br>
                    {{ slider_form.slide_2 }}
                </div>
                <div class="col-md-4">
                    <h4>Слайд 3</h4>
                    {% if slider_form.instance.slide_3 %}
                    <img src="{{ slider_form.instance.slide_3.url }}" class="margin-bottom-15">
                    {% else %}
                    <img src="{% static 'img/default.jpg'%}" class="margin-bottom-15">
                    {% endif %}
                    <label>Рекомендуемый размер: (1920х800)</label>
                    {{ slider_form.slide_3 }}
                </div>
            </div>
            <div class="col-xm-12 row">
                <h3 class="col-md-12 margin-bottom-20 page-header">Краткая информация</h3>
                <div class="col-md-12 margin-bottom-20">
                    <label>Заголовок</label>
                    {{ info_form.id  }}
                    {{ info_form.title }}
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <label>Краткий текст</label>
                    {{ info_form.media }}
                    {{ info_form.description }}
                </div>
                <div class="col-md-12 margin-bottom-20">
                    {{ info_form.is_apps }}
                    <label>Показать ссылки на приложения</label>
                </div>

            </div>
            <div class="col-xm-12 row">
                <h3 class="col-md-12 margin-bottom-20 page-header">Рядом с нами</h3>
                <div class="col-md-12 row near-img">
                    {% for form in formset %}
                    <div class="col-md-4 margin-bottom-15">
                        <h4>Блок {{ form.id }}</h4>
                        <div class="margin-bottom-15">
                            {% if form.instance.image %}
                            <img src="{{ form.instance.image.url }}" class="margin-bottom-15">
                            {% else %}
                            <img src="{% static 'img/default.jpg' %}" class="margin-bottom-15">
                            {% endif %}
                            <label>Рекомендуемый размер: (1920х800)</label>
                            {{ form.image }}
                        </div>
                        <div class="margin-bottom-15">
                            <label>Заголовок блока</label>
                            {{ form.title }}
                        </div>
                        <div class="margin-bottom-15">
                            <label>Описание</label>
                            {{ form.media }}
                            {{ form.description }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xm-12 row">
                <h3 class="col-md-12 margin-bottom-20 page-header">Настройки SEO</h3>
                <div class="col-md-12 margin-bottom-15">
                    {{ seo.id }}
                    <label>Title</label>
                    {{ seo.seo_title }}
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <label>Description</label>
                    {{ seo.seo_description }}
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <label>Keywords</label>
                    {{ seo.keyword }}
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <a href="{% url 'house' %}" class="btn btn-default">Отменить</a>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}