{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Показания счетчиков, кв.{{ counter.flat.number_flat }} {% endblock %}
{% block page_name %}Показания счетчиков, кв.{{ counter.flat.number_flat}} {% endblock %}
{% block mini_page_name %}
    <li><a href="{% url 'counter_data_counters' %}">Счетчики</a></li>
    <li class="active">Показания счетчиков, кв.{{ counter.flat.number_flat }}</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group pull-right margin-bottom">
            <a class="btn btn-success" href="{% url 'counter_data_create' %}" >Добавить показание</a>
        </div>
    </div>
</div>
<div class="box" style="overflow-x: auto">
    <div class="box-header with-border pull-right">
        <a class="btn btn-default" href="">Очистить</a>
    </div>
    <div class="grid-view">
        <table id="CounterListTable" class="table table-striped table-bordered table-hover table_sort">
            <thead>
            <tr>
                <th class="col" style="min-width:100px">№</th>
                <th class="col" style="min-width:100px">Статус</th>
                <th class="col" style="min-width:100px">Дата</th>
                <th class="col" style="min-width: 100px">Месяц</th>
                <th class="col" style="width:120px">Дом</th>
                <th class="col" style="min-width:100px">Секция</th>
                <th class="col" style="min-width:100px">№ Квартиры</th>
                <th class="col" style="min-width: 100px">Счетчик</th>
                <th class="col" style="min-width: 100px">Показания</th>
                <th class="col" style="min-width: 100px">Ед. изм.</th>
                <th class="col" style="width: 100px; min-width:120px"></th>
            </tr>
            <tr>
                <td><input id="NumberSearch" type="text" class="form-control" onkeyup="searchTable('NumberSearch','FlatList','flat-number')"></td>
                <td>
                    <select id="HouseSearch" class="form-control" onchange="searchTable('HouseSearch','FlatList','flat-house')">
                        <option value="0"></option>

                    </select>
                </td>
                <td>
                    <select id="SectionSearch" class="form-control" onchange="searchTable('SectionSearch','FlatList','flat-section')">

                    </select>
                </td>
                <td>
                    <select id="FloorSearch" class="form-control" onchange="searchTable('FloorSearch','FlatList','flat-floor')">

                    </select>
                </td>
                <td>
                    <select id="OwnerSearch" class="form-control" onchange="searchTable('OwnerSearch','FlatList','flat-owner')">
                        <option></option>

                    </select>
                </td>
                <td>
                    <select id="RemainderSearch" class="form-control" onchange="searchTable('ReminderSearch','FlatList','flat-remainder')">
                        <option></option>
                    </select>
                </td>
                <th></th>
            </tr>
            </thead>
            <tbody id="CounterListData">
            {% for obj in counters %}
            <tr onclick="location.href=''">
                <td class="">{{ obj.number }}</td>
                <td class="">{{ obj.status }}</td>
                <td class="">{{ obj.date | date:'d.m.Y' }}</td>
                <td class="">{{ obj.date }}</td>
                <td class="">{{ obj.flat.house }}</td>
                <td class="">{{ obj.flat.section }}</td>
                <td class="">{{ obj.flat.number }}</td>
                <td class="">{{ obj.counter }}</td>
                <td class="">{{ obj.counter_data }}</td>
                <td class="">{{ obj.counter.unit }}</td>
                <td class="text-center">
                    <div class="btn-group pull-center">
                        <a class="btn btn-default btn-sm" href="{% url 'counter_data_update' obj.id %}" title="Редактировать" data-toggle="tooltip">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-default btn-sm" href="{% url 'counter_data_delete' obj.id counter.flat.id %}" onclick="return confirmDelete()" title="Удалить" data-toggle="tooltip">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}