{% extends 'adminpanel/base.html' %}
{% load static %}
{%block mymessage%}class="active"{%endblock%}
{% block title %}Сообщения{% endblock %}
{% block page_name %}Сообщения{% endblock %}
{% block mini_page_name %}
    <li><a href="{% url 'user_message' %}">Сообщения</a></li>
    <li class="active">Новое сообщение</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="box">
    <div class="box-body">
        <form id="MessageCreateForm" novalidate method="post" action="" enctype="multipart/form-data"
              data-section-url="{% url 'select_section_message_house'%}"
              data-floor-url="{% url 'select_floor_message_house'%}"
              data-flat-url="{% url 'select_flat_message_house'%}"
              data-flat-url-section="{% url 'select_flat_message_section'%}"
              data-flat-url-floor="{% url 'select_flat_message_floor'%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 margin-bottom-20">
                        <label>Тема</label>
                        {{ new_message.title }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Сообщение</label>
                        {{ new_message.media }}
                        {{ new_message.text }}
                    </div>
                </div>
                {% if new_message.initial.user %}
                <div class="col-md-6">
                    <h4>Кому отправить:</h4>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Владелец квартир</label>
                        {{ new_message.user }}
                    </div>
                </div>
                {% else %}
                <div class="col-md-6">
                    <h4>Кому отправить:</h4>
                    <div class="col-md-12 margin-bottom-20">
                        {{ new_message.is_debt }}
                        <label>Владельцам с задолженостями</label>
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>ЖК</label>
                        {{ new_message.house }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Секция</label>
                        {{ new_message.section }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Этаж</label>
                        {{ new_message.floor }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Квартира</label>
                        {{ new_message.flat }}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-12 text-right">
                <div class="form-group">
                    <button type="submit" name="save" class="btn btn-success">
                        <i class="fa fa-envelope-o"> Отправить</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}