{% extends 'adminpanel/base.html' %}
{% load static %}
{%block mymessage%}class="active"{%endblock%}
{% block title %}Сообщения{% endblock %}
{% block page_name %}Сообщения{% endblock %}
{% block mini_page_name %}
    <li class="active">Сообщения</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group pull-right margin-bottom">
            <a class="btn btn-success" href="{% url 'user_message_create' %}">Отправить сообщение</a>
        </div>
    </div>
</div>
<div class="box" style="overflow-x: auto">
    <div class="box-header with-border pull-right">
    </div>
    <div class="grid-view">
        <table id="MessageTable" class="table table-striped table-bordered table-hover table_sort">
            <thead>
            <tr>
                <th class="col" style="min-width:10px"></th>
                <th class="col" style="min-width:100px">Получатели</th>
                <th class="col" style="min-width: 100px">Тема</th>
                <th class="col" style="min-width:100px">Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in message_list %}
            <tr onclick="location.href=''" class="table-data">
                <td><input type="checkbox"></td>
                {% if obj.house %}
                    <td>{{ obj.house }}, {{ obj.section }}, {{ obj.floor }}, кв.{{ obj.flat.number_flat }}</td>
                {% else %}
                    <td>Всем</td>
                {% endif %}
                <td>{{ obj.title }}</td>
                <td>{{ obj.time }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}