{% extends 'adminpanel/base.html' %}
{% load static %}
{%block mymessage%}class="active"{%endblock%}
{% block title %}Сообщения{% endblock %}
{% block page_name %}Сообщения{% endblock %}
{% block mini_page_name %}
    <li class="active">Сообщения</li>
{% endblock %}
{% csrf_token %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group pull-right margin-bottom">
            <a class="btn btn-success" href="{% url 'user_message_create' %}">Отправить сообщение</a>
        </div>
    </div>
</div>
<div class="box" style="overflow-x: auto">
    <div class="box-header with-border pull-left">
        <div class="mailbox-controls">
            <button type="button" class="btn btn-default btn-xm">
                <input type="checkbox" name="check_message" class="chk-all" style="transform: scale(1.3)">
            </button>
            <button id="DeleteMessage" type="button" class="btn btn-default btn-xm" url-delete-message="{% url 'user_message_delete' %}">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
    <div class="box-header with-border pull-right">
        <input id="SearchMessage" type="search" class="form-control input-sm" placeholder="Поиск">
    </div>
    <div class="grid-view">
        <table id="MessageTable" class="table table-striped table-bordered table-hover table_sort">
            <thead>
            <tr>
                <th class="col" style="min-width:10px"></th>
                <th class="col" style="min-width:100px">Получатели</th>
                <th class="col" style="min-width: 100px">Тема</th>
                <th class="col" style="min-width:100px">Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in message_list %}
            <tr>
                <td><input type="checkbox" name="check_message" class="check_message" value="{{ obj.id }}"></td>
                {% if obj.user %}
                    <td onclick="location.href='{% url 'user_message_info' obj.id %}'">
                        {{ obj.user }}
                    </td>
                {% elif obj.house %}
                    <td onclick="location.href='{% url 'user_message_info' obj.id %}'">
                        {{ obj.house }}
                        {% if obj.section %}, {{ obj.section }} {% endif %}
                        {% if obj.floor %}, {{ obj.floor }} {% endif %}
                        {% if obj.flat %}, кв.{{ obj.flat.number_flat }} {% endif %}
                    </td>
                {% else %}
                    <td onclick="location.href='{% url 'user_message_info' obj.id %}'">Всем</td>
                {% endif %}
                <td onclick="location.href='{% url 'user_message_info' obj.id %}'">{{ obj.title }}</td>
                <td onclick="location.href='{% url 'user_message_info' obj.id %}'">{{ obj.time }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}