{% extends 'adminpanel/base.html' %}
{% load static %}
{%block flat%}class="active"{%endblock%}
{% block title %}Квартиры{% endblock %}
{% block page_name %}Квартиры{% endblock %}
{% block mini_page_name %}
    <li class="active">Квартиры</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group pull-right margin-bottom">
            <a class="btn btn-success" href="{% url 'flat_create' %}" >Добавить квартиру</a>
        </div>
    </div>
</div>
<div class="box" style="overflow-x: auto">
    <div class="box-header with-border pull-right">
        <a class="btn btn-default" href="">Очистить</a>
    </div>
    <div class="grid-view">
        <table id="FlatTable" class="table table-striped table-bordered table-hover table_sort"
               data-section-url="{% url 'select_section_flat' %}"
               data-floor-url="{% url 'select_floor_flat' %}">
            <thead>
            <tr class="sort">
                <th class="col" style="min-width:120px">№ Квартиры</th>
                <th class="col" style="min-width:100px">Дом</th>
                <th class="col" style="min-width: 100px">Секция</th>
                <th class="col" style="min-width:100px">Этаж</th>
                <th class="col" style="min-width:100px">Владелец</th>
                <th class="col" style="min-width: 100px">Остаток</th>
                <th class="col" style="min-width:120px"></th>
            </tr>
            </thead>
            <tbody>
            {% for flat in flats %}
            <tr onclick="location.href='{% url 'flat_info' flat.id %}'" class="table-data">
                <td>{{ flat.number_flat }}</td>
                <td>{{ flat.house }}</td>
                <td>
                    {% if flat.section %}
                        {{ flat.section }}
                    {% else %}
                        (не задано)
                    {% endif %}
                </td>
                <td>
                    {% if flat.floor %}
                        {{ flat.floor }}
                    {% else %}
                        (не задано)
                    {% endif %}
                </td>
                <td>
                    {% if flat.owner %}
                        {{ flat.owner }}
                    {% else %}
                        (не задано)
                    {% endif %}
                </td>
                <td>
                    {% if flat.account %}
                        {{ flat.saldo }}
                    {% else %}
                        (нет счета)
                    {% endif %}
                </td>
                <td class="text-center">
                    <div class="btn-group pull-center">
                        <a class="btn btn-default btn-sm" href="{% url 'flat_update' flat.id %}" title="Редактировать" data-toggle="tooltip">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-default btn-sm" href="{% url 'flat_delete' flat.id %}" onclick="return confirmDelete()" title="Удалить" data-toggle="tooltip">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <div class="box-footer clearfix">
        <div>
            Количество квартир:
            <span class="text-bolt">{{ count }}</span>
        </div>
    </div>
</div>

{% endblock %}