{% extends 'adminpanel/base.html' %}
{% load static %}
{%block flat%}class="active"{%endblock%}
{% block title %}Квартира №{{flat.number_flat}}, {{flat.house}}{% endblock %}
{% block page_name %}Квартира №{{flat.number_flat}}, {{flat.house}}{% endblock %}
{% block mini_page_name %}
    <li><a href="{% url 'flat' %}">Квартиры</a></li>
    <li class="active">Квартира №{{flat.number_flat}}, {{flat.house}}</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border text-right">
                <h3 class="pull-left">Просмотр квартиры</h3>
                {% if flat.account%}
                <a href="{% url 'account_transaction_create_to_account' 1 flat.account.number %}" class="btn btn-default">
                    <i class="fa fa-dollar"></i>
                    Принять платеж
                </a>
                <a href="{% url 'invoice_create_to_flat' flat.id %}" class="btn btn-default">
                    <i class="fa fa-files-o"></i>
                    Оформить квитанцию
                </a>
                {% else %}
                <a href="" class="btn btn-default disabled">
                    <i class="fa fa-dollar"></i>
                    Принять платеж
                </a>
                <a href="" class="btn btn-default disabled">
                    <i class="fa fa-files-o"></i>
                    Оформить квитанцию
                </a>
                {% endif %}
                <a href="{% url 'flat_update' flat.id %}" class="btn btn-primary">Редактировать квартиру</a>
            </div>
            <div class="box-body row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th class="col-md-6">Лицевой счет</th>
                            {% if flat.account.number %}
                            <td><a href="{% url 'account_info' flat.account.id %}">{{ flat.account.number }}</a></td>
                            {% else %}
                            <td>не указано</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th class="col-md-6">Номер квартиры</th>
                            <td> {{ flat.number_flat }} </td>
                        </tr>
                        <tr>
                            <th class="col-md-6">Площадь</th>
                            {% if flat.square %}
                            <td>{{ flat.square }} м²</td>
                            {% else %}
                            <td>не указано</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th class="col-md-6">Дом</th>
                            <td><a href="{% url 'info_house' flat.house.id %}">{{ flat.house }}</a></td>
                        </tr>
                        <tr>
                            <th class="col-md-6">Секция</th>
                            {% if flat.section %}
                            <td>{{ flat.section }}</td>
                            {% else %}
                            <td>не указано</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th class="col-md-6">Этаж</th>
                            {% if flat.floor %}
                            <td>{{ flat.floor }}</td>
                            {% else %}
                            <td>не указано</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th class="col-md-6">Владелец</th>
                            {% if flat.owner %}
                            <td><a href="{% url 'apartment_owner_info' flat.owner.id %}">{{ flat.owner }}</a></td>
                            {% else %}
                            <td>не указано</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th class="col-md-6">Тариф</th>
                            {% if flat.tariff %}
                            <td><a href="{% url 'setting_tariffs_info' flat.tariff.id %}">{{ flat.tariff }}</a></td>
                            {% else %}
                            <td>не указано</td>
                            {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <a href="{% url 'counter_data_list' flat.id %}">Посмотреть показания счетчиков</a><br>
                    {% if flat.account  %}
                    <a href="{% url 'account_transaction_to_account' flat.account.id %}">Посмотреть приходы</a><br>
                    {% else %}
                    <a href="{% url 'account_transaction'%}">Посмотреть приходы</a><br>
                    {% endif %}
                    <a href="{% url 'invoice_to_flat' flat.id %}">Посмотреть квитанции</a><br>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}