{% extends 'adminpanel/base.html' %}
{% load static %}
{%block house%}class="active"{%endblock%}
{% block title %}Дома{% endblock %}
{% block page_name %}Дома{% endblock %}
{% block mini_page_name %}
    <li class="active">Дома</li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="pull-right margin-bottom">
            <a class="btn btn-success" href="{% url 'create_house' %}">Добавить дом</a>
        </div>
    </div>
</div>
<div class="box" style="overflow-x: auto">
    <div class="box-header with-border pull-right">
        <a class="btn btn-default" href="{% url 'house' %}">Очистить</a>
    </div>
    <div class="grid-view">
        <table id="HouseTable" class="table table-striped table-bordered table-hover table_sort">
            <thead>
            <tr>
                <th class="col" style="min-width:20px">#</th>
                <th class="col" style="min-width:200px">Название</th>
                <th class="col" style="min-width: 200px">Адрес</th>
                <th class="col" style="width: 100px; min-width:100px"></th>
            </tr>
            </thead>
            <tbody>
            {% for house in list %}
            <tr onclick="location.href='{% url 'info_house' house.id%}'" class="table-data">
                <td>{{ house.id }}</td>
                <td>{{ house.name }}</td>
                <td>{{ house.address }}</td>
                <td class="text-center">
                    <div class="btn-group pull-center">
                        <a class="btn btn-default btn-sm" href="{% url 'update_house' house.id %}" title="Редактировать" data-toggle="tooltip">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-default btn-sm" href="{% url 'delete_house' house.id %}" onclick="return confirmDelete()" title="Удалить" data-toggle="tooltip">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <div>
            Количество домов:
            <span class="text-bolt">{{ count }}</span>
        </div>
    </div>
</div>

{% endblock %}