<html>
<head>
    <style>
    html {
        font-family: Arial;
        font-size: 1.3em;
    }
    h4 {
        margin: 0.5em 0;
    }
    table {
        font-size: 1.3em;
    }
    .pagebreak { page-break-before: always; }
    @page { margin: 0; }
    @media print {
        @page { margin: 0; }
        body { margin: 1.6cm; }
    }
</style>

</head>
<body>
    <div class="box pagebreak">
        <h4>Квитанция: #{{ invoice.number }}</h4>
        <h4>Дата: {{ invoice.date }}</h4>
        <h4>Квартира: {{ invoice.flat.number_flat }}, {{ invoice.flat.house.address }}</h4>
        <h4>Получатель: {{ invoice.flat.owner }}</h4>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th style="width: 40px; min-width: 40px;">#</th>
                <th>Услуга</th>
                <th>Количество потребления (расход)</th>
                <th style="width: 80px; min-width: 80px;">Ед. изм.</th>
                <th>Цена за ед., грн</th>
                <th>Стоимость, грн</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="5"></td>
                <td colspan="2"><b>Итого: {{ invoice.sum }}</b></td>
            </tr>
            </tfoot>
            <tbody>
            {% for obj in service %}
            <tr>
                <td></td>
                <td>{{ obj.service.name }}</td>
                <td>{{ obj.consumption }}</td>
                <td>{{ obj.service.unit }}</td>
                <td>{{ obj.price }}</td>
                <td>{{ obj.sum }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>window.print();</script>
</body>
</html>