{% extends 'personalarea/base.html' %}
{% load static %}
{%block cabinet_profile%}class="active"{%endblock%}
{% block title %}Профиль{% endblock %}
{% block page_name %}Профиль{% endblock %}
{% block mini_page_name %}
    {% if info_user %}
    <li><a href="{% url 'cabinet_profile_adm' info_user.id %}">Профиль</a></li>
    {% else %}
    <li><a href="{% url 'cabinet_profile' %}">Профиль</a></li>
    {% endif %}
    <li class="active">Редактирование</li>
{% endblock %}
{% block content %}
{% if message_error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message_error }}
    </div>
{% endif %}
<div class="box">
    <div class="box-body">
        <form novalidate method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 margin-bottom-20">
                        <div class="userAvatar">
                            {% if user.instance.avatar %}
                            <img class="img-circle pull-left img-responsive" src="{{ user.instance.avatar.url }}">
                            {% else %}
                            <img class="img-circle pull-left img-responsive" src="{% static 'img/default.jpg'%}">
                            {% endif %}
                        </div>
                        <label>Сменить изображение</label>
                        {{ user.avatar }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 margin-bottom-20">
                        <label>Статус</label>
                        {{ user.status }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>ID</label>
                        {{ user.personal_id }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 margin-bottom-20">
                        <label>Имя</label>
                        {{ user.first_name }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Фамилия</label>
                        {{ user.last_name }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Отчество</label>
                        {{ user.patronymic }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Дата рождения ({{ user.instance.birthday }})</label>
                        {{ user.birthday }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 margin-bottom-20">
                        <label>О владельце (заметки)</label>
                        {{ user.about_owner }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="margin-bottom-20 page-header"><h2>Контактные данные</h2></div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Телефон</label>
                        {{ user.telephone }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Viber</label>
                        {{ user.viber }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Telegram</label>
                        {{ user.telegram }}
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Email(Логин)</label>
                        {{ user.email }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="margin-bottom-20 page-header">
                        <h2>Изменить пароль</h2>
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Пароль</label>
                        <div class="input-group">
                            {{ user.password }}
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="gen_password()">
                                    Сгенерировать
                                </button>
                                <button type="button" class="btn btn-primary" id="showPass">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <label>Повторите пароль</label>
                        {{ user.password2 }}
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="form-group">
                    {% if info_user %}
                    <a href="{% url 'cabinet_profile_adm' info_user.id %}" class="btn btn-default">Отменить</a>
                    {% else %}
                    <a href="{% url 'cabinet_profile' %}" class="btn btn-default">Отменить</a>
                    {% endif %}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}