{% extends 'personalarea/base.html' %}
{% load static %}
{%block cabinet_profile%}class="active"{%endblock%}
{% block title %}Профиль{% endblock %}
{% block page_name %}Профиль{% endblock %}
{% block mini_page_name %}
    <li class="active">Профиль</li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <div class="box">
                    <div class="box-body box-profile">
                        {% if user.avatar %}
                        <img class="profile-user-img img-responsive img-circle" src="{{ user.avatar.url }}" alt="Аватар">
                        {% else %}
                        <img class="profile-user-img img-responsive img-circle" src="{% static 'img/default.jpg' %}" alt="Аватар">
                        {% endif %}

                        <h3 class="profile-username text-center">{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</h3>

                        <p class="text-muted text-center">Владелец квартиры</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <span>Телефон</span>
                                <span class="pull-right">{{ user.telephone }}</span>
                            </li>
                            <li class="list-group-item">
                                <span>Viber</span>
                                <span class="pull-right">{{ user.viber }}</span>
                            </li>
                            <li class="list-group-item">
                                <span>Telegram</span>
                                <span class="pull-right">{{ user.telegram }}</span>
                            </li>
                            <li class="list-group-item">
                                <span>Email</span>
                                <span class="pull-right">{{ user.email }}</span>
                            </li>
                        </ul>
                        {% if info_user %}
                        <a href="{% url 'cabinet_profile_update_adm' info_user.id %}" class="btn btn-primary btn-block">Изменить</a>
                        {% else %}
                        <a href="{% url 'cabinet_profile_update' %}" class="btn btn-primary btn-block">Изменить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-12">
                <h3 class="page-header">Обо мне (заметки)</h3>
                <div class="box">
                    <div class="box-body box-profile">
                        {% if user.about_owner %}
                        {{ user.about_owner }}
                        {% else %}
                        Нет заметок
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-lg-9">
        <h2 class="page-header">Мои квартиры</h2>
        {% for obj in flats %}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Описание квартиры</h3>
            </div>
            <div class="box-body">
                <p>{{ obj.house.name }}. {{ obj.house.address }}, кв.{{ obj.number_flat }}</p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        {% if  obj.house.image_1 %}
                        <img src="{{ obj.house.image_1.url }}" class="img-responsive largeImg margin-bottom-30" alt="">
                        {% else %}
                        <img src="{% static 'img/default.jpg' %}" class="img-responsive largeImg margin-bottom-30" alt="">
                        {% endif %}
                    </div>
                    <div class="col-xs-6 col-md-3">
                        {% if  obj.house.image_2 %}
                        <img src="{{ obj.house.image_2.url }}" class="img-responsive smallImg margin-bottom-30" alt="">
                        {% else %}
                        <img src="{% static 'img/default.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="">
                        {% endif %}
                    </div>
                    <div class="col-xs-6 col-md-3">
                        {% if  obj.house.image_3 %}
                        <img src="{{ obj.house.image_3.url }}" class="img-responsive smallImg margin-bottom-30" alt="">
                        {% else %}
                        <img src="{% static 'img/default.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="">
                        {% endif %}
                    </div>
                    <div class="col-xs-6 col-md-3">
                        {% if  obj.house.image_4 %}
                        <img src="{{ obj.house.image_4.url }}" class="img-responsive smallImg margin-bottom-30" alt="">
                        {% else %}
                        <img src="{% static 'img/default.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="">
                        {% endif %}
                    </div>
                    <div class="col-xs-6 col-md-3">
                        {% if  obj.house.image_5 %}
                        <img src="{{ obj.house.image_5.url }}" class="img-responsive smallImg margin-bottom-30" alt="">
                        {% else %}
                        <img src="{% static 'img/default.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th colspan="2">Описание</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th style="min-width: 200px; font-weight:normal;">Название дома</th>
                            <th style="font-weight:normal;">{{ obj.house.name }}</th>
                        </tr>
                        <tr>
                            <td>Адрес</td>
                            <td>{{ obj.house.address }}</td>
                        </tr>
                        <tr>
                            <td>№ квартиры</td>
                            <td>{{ obj.number_flat }}</td>
                        </tr>
                        <tr>
                            <td>Площадь</td>
                            <td>
                                {{ obj.square }}м<sup>2</sup>
                            </td>
                        </tr>
                        <tr>
                            <td>Этаж</td>
                            <td>{{ obj.floor }}</td>
                        </tr>
                        <tr>
                            <td>Секция</td>
                            <td>{{ obj.section }}</td>
                        </tr>
                        <tr>
                            <td>Лицевой счет</td>
                            <td>{{ obj.account }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}