{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Платежные реквизиты{% endblock %}
{% block page_name %}Платежные реквизиты{% endblock %}
{% block mini_page_name %}
    <li class="active">Платежные реквизиты</li>
{% endblock %}
{% block content %}
<div class="box">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box-body">
            <div class="col-md-9">
                <div class="col-md-12 margin-bottom-20">
                    <label>Название компании</label>
                    {{ pay_company.name }}
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <label>Информация</label>
                    {{ pay_company.description }}
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <a href="" class="btn btn-default">Отменить</a>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}