{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Тариф: {{ tariff.name }}{% endblock %}
{% block page_name %}Тариф: {{ tariff.name }}{% endblock %}
{% block mini_page_name %}Тариф: {{ tariff.name }}{% endblock %}
{% block content %}
<div class="box col-md-12">
    <div class="box-header with-border text-right">
        <a href="{% url 'setting_tariffs_update' tariff.id %}" class="btn btn-primary">Редактировать тариф</a>
    </div>
    <div class="box-body">
        <div class="container">
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr>
                        <th>Названи тарифа</th>
                        <td>{{ tariff.name }}</td>
                    </tr>
                    <tr>
                        <th>Описание</th>
                        <td>{{ tariff.description }}</td>
                    </tr>
                    <tr>
                        <th>Дата редактирования</th>
                        <td>{{ tariff.date_update }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="col">#</th>
                        <th class="col">Услуга</th>
                        <th class="col">Ед. изм.</th>
                        <th class="col">Цена за ед., грн</th>
                        <th class="col">Валюта</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for service in services %}
                    <tr>
                        <td></td>
                        <td>{{ service.service.name }}</td>
                        <td>{{ service.unit_service.unit }}</td>
                        <td>{{ service.price }}</td>
                        <td>{{ service.currency }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}