{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Новый дом{% endblock %}
{% block page_name %}Новый дом{% endblock %}
{% block mini_page_name %}Новый дом{% endblock %}
{% block content %}
<div class="box">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ SectionFormSet.management_form }}
        <div class="box-body row">
            <div class="col-md-4 row">
                <div class="col-md-12 margin-bottom-20">
                    <label>Название</label>
                    {{ form.name }}
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <label>Адрес</label>
                    {{ form.address }}
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <label>Изображение #1. Размер:(522х350)</label>
                    {{ form.image_1 }}
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <label>Изображение #2. Размер:(248х160)</label>
                    {{ form.image_2 }}
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <label>Изображение #3. Размер:(248х160)</label>
                    {{ form.image_3 }}
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <label>Изображение #4. Размер:(248х160)</label>
                    {{ form.image_4 }}
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <label>Изображение #5. Размер:(248х160)</label>
                    {{ form.image_5 }}
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <img id='img1' src="{% static 'img/default.jpg' %}" class="img-responsive largeImg
                                    margin-bottom-30"/>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <img id='img2' src="{% static 'img/default.jpg' %}" class="img-responsive smallImg
                                margin-bottom-30"/>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <img id='img3' src="{% static 'img/default.jpg' %}" class="img-responsive smallImg
                                margin-bottom-30"/>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <img id='img4' src="{% static 'img/default.jpg' %}" class="img-responsive smallImg
                                    margin-bottom-30"/>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <img id='img5' src="{% static 'img/default.jpg' %}" class="img-responsive smallImg
                                    margin-bottom-30"/>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="tablinks">
                            <a href="#tab-sections" onclick="openContent(event, 'tab-sections')" data-toggle="tab">Секции</a>
                        </li>
                        <li class="tablinks">
                            <a href="#tab-floors" onclick="openContent(event, 'tab-floors')" data-toggle="tab">Этажи</a>
                        </li>
                        <li class="tablinks">
                            <a href="#tab-houseuseradmin" onclick="openContent(event, 'tab-houseuseradmin')" data-toggle="tab">Пользователи</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-panel clearfix" id="tab-sections">
                            <div id="form_set_section" class="row">
<!--                                {% for formset in SectionFormSet %}-->
<!--                                <div class="col-md-12 margin-bottom-20">-->
<!--                                    <label>Название</label>-->
<!--                                    <div class="input-group">-->
<!--                                        {{ formset.name }}-->
<!--                                        <span class="input-group-btn">-->
<!--                                            <a href="" class="btn btn-danger">-->
<!--                                                <i class="fa fa-trash"></i>-->
<!--                                            </a>-->
<!--                                        </span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                {% endfor %}-->
                                <div id="empty_form_section" style="display:none">
                                    <div class="col-md-12 margin-bottom-20">
                                        <label>Название</label>
                                        <div class="input-group">
                                            {{ SectionFormSet.empty_form.name }}
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input id="add_section" class="btn btn-success pull-right" type="button" value="Добавить">
                            <script>
                                $('#add_section').click(function() {
                                    cloneMore('#is_copy_selection', 'service');
                                });
                            </script>
                        </div>
                        <div class="tab-panel clearfix" id="tab-floors">
                            <div>Список этажей</div>
                            <button class="btn btn-success pull-right" type="button">Добавить</button>
                        </div>
                        <div class="tab-panel clearfix" id="tab-houseuseradmin">
                            <div>Список персонала</div>
                            <button class="btn btn-success pull-right" type="button">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-right">
                <div class="form-group">
                    <a href="{% url 'house' %}" class="btn btn-default">Отменить</a>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}