{% extends 'website/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}

<div class="sim-slider col-md-12" id="first">
    <ul class="sim-slider-list">
        <li class="sim-slider-element"><img class="slider-img" src="{% static 'img/default.jpg' %}" alt="1"></li>
        <li class="sim-slider-element"><img class="slider-img" src="{% static 'img/default.jpg' %}" alt="2"></li>
        <li class="sim-slider-element"><img class="slider-img" src="{% static 'img/default.jpg' %}" alt="3"></li>
    </ul>
    <div class="sim-slider-arrow-left"></div>
    <div class="sim-slider-arrow-right"></div>
    <div class="sim-slider-arrow-dots"></div>
</div>


<div>
    Инфо
</div>
<div>
    Рядом с нами
</div>

{% endblock %}