.main-header .logo img {
    height: 40px;
    margin: 5px auto;
}

.content-header {
    padding: 15px;
    border-bottom: 1px solid #d2d6de
}

.main-header .navbar .header-title {
    float: left;
    padding: 15px, 10px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}