{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Редактирование страницы{% endblock %}
{% block page_name %}Редактирование страницы{% endblock %}
{% block mini_page_name %}Редактирование страницы{% endblock %}
{% block content %}
<div class="box">
    <div class="box-body">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            <div class="col-xm-12"><h3>Редактирование страницы "Тарифы"</h3></div>
            <div class="col-xm-12 row margin-bottom-30">
                <h3 class="col-md-12 margin-bottom-20 page-header">Информация</h3>
                <div class="col-md-12">
                    <label>Заголовок</label>
                    {{ info_form.title }}
                    <label>Краткий текст</label>
                    {{ info_form.media }}
                    {{ info_form.description }}
                </div>
            </div>
            <div class="col-xm-12 row margin-bottom-30">
                <h3 class="col-md-12 margin-bottom-20 page-header">Изображения</h3>
                <div  id="form_set_image" class="col-md-12 row near-img">
                    {% for form in formset %}
                    <div class="col-md-4 row form-image margin-bottom-15">
                        <div class="col-md-12">
                            <h4>
                                Тариф
                                {{ form.id }}
                                <a href="" class="pull-right text-red delete-form">
                                    <i class="fa fa-trash">
                                        <div hidden="hidden">{{ form.DELETE }}</div>
                                    </i>
                                </a>
                            </h4>
                        </div>
                        <div class="col-md-12 margin-bottom-15">
                            <img src="{% static 'img/default.jpg' %}">
                            <label>Файл</label>
                            {{ form.file}}
                        </div>
                        <div class="col-md-12 margin-bottom-15">
                            <label>Подпись</label>
                            {{ form.signature }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="empty_form_image" style="display:none">
                    <div id="id_form_image_" class="col-md-4 row margin-bottom-15 form-image">
                        <div class="col-md-12">
                            <h4>
                                Тариф
                                <a href="" class="pull-right text-red delete-form">
                                    <i class="fa fa-trash">
                                        <div hidden="hidden">{{ formset.empty_form.DELETE }}</div>
                                    </i>
                                </a>
                            </h4>
                        </div>
                        <div class="col-md-12 margin-bottom-15">
                            <img src="{% static 'img/default.jpg' %}">
                            <label>Файл</label>
                            {{ formset.empty_form.file }}
                        </div>
                        <div class="col-md-12 margin-bottom-15">
                            <label>Подпись</label>
                            {{ formset.empty_form.signature }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xm-12 row margin-bottom-30">
                <h3 class="col-md-12 margin-bottom-20 page-header">Настройки SEO</h3>
                <div class="col-md-12 margin-bottom-15">
                    {{ seo.id }}
                    <label>Title</label>
                    {{ seo.seo_title }}
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <label>Description</label>
                    {{ seo.seo_description }}
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <label>Keywords</label>
                    {{ seo.keyword }}
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <a href="{% url 'website_tariffs' %}" class="btn btn-default">Отменить</a>
                    <input id="add_tariff" class="btn btn-success bg-green-active" type="button" value="Добавить тариф">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}