{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Показания счетчиков, кв.{{ counter.flat.number_flat }} {% endblock %}
{% block page_name %}Показания счетчиков, кв.{{ counter.flat.number_flat}} {% endblock %}
{% block mini_page_name %}
    <li><a href="{% url 'counter_data_counters' %}">Счетчики</a></li>
    <li class="active">Показания счетчиков, кв.{{ counter.flat.number_flat }}</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group pull-right margin-bottom">
            <a class="btn btn-success" href="{% url 'counter_data_create_flat_service' counter.flat.id 0 %}" >Добавить показание</a>
        </div>
    </div>
</div>
<div class="box" style="overflow-x: auto">
    <div class="box-header with-border pull-right">
        <a class="btn btn-default" href="">Очистить</a>
    </div>
    <div class="grid-view">
        <table id="CounterListTable" class="table table-striped table-bordered table-hover table_sort">
            <thead>
            <tr>
                <th class="col" style="min-width:100px">№</th>
                <th class="col" style="min-width:100px">Статус</th>
                <th class="col" style="min-width:100px">Дата</th>
                <th class="col" style="min-width: 100px">Месяц</th>
                <th class="col" style="min-width:150px">Дом</th>
                <th class="col" style="min-width:100px">Секция</th>
                <th class="col" style="min-width:60px">№ Квартиры</th>
                <th class="col" style="min-width: 100px">Счетчик</th>
                <th class="col" style="min-width: 100px">Показания</th>
                <th class="col" style="min-width: 80px">Ед. изм.</th>
                <th class="col" style="min-width:100px"></th>
            </tr>
            </thead>
            <tbody>
            {% for obj in counters %}
            <tr onclick="location.href='{% url 'counter_data_info' obj.id %}'">
                <td>{{ obj.number }}</td>
                <td>
                    {% if obj.status %}
                    {% if obj.status.id == 1 %}
                    <small class="label label-warning">
                        {% elif obj.status.id == 2 or  obj.status.id == 3%}
                        <small class="label label-success">
                            {% else %}
                            <small class="label label-primary">
                                {% endif %}
                                {{ obj.status }}</small>
                            {% else %}
                            не задано
                            {% endif %}
                </td>
                <td>{{ obj.date | date:'d.m.Y' }}</td>
                <td>{{ obj.date | date:'F Y'}}</td>
                <td>{{ obj.flat.house }}</td>
                <td>{{ obj.flat.section }}</td>
                <td>{{ obj.flat.number_flat }}</td>
                <td>{{ obj.counter }}</td>
                <td>{{ obj.counter_data }}</td>
                <td>{{ obj.counter.unit }}</td>
                <td class="text-center">
                    <div class="btn-group pull-center">
                        <a class="btn btn-default btn-sm" href="{% url 'counter_data_update' obj.id %}" title="Редактировать" data-toggle="tooltip">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-default btn-sm" href="{% url 'counter_data_delete' obj.id counter.flat.id %}" onclick="return confirmDelete()" title="Удалить" data-toggle="tooltip">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}