{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}
    {% if type == 1 %}
    Приходная ведомость
    {% else %}
    Расходная ведомость
    {% endif %}
{% endblock %}
{% block page_name %}
    {% if type == 1 %}
    Приходная ведомость
    {% else %}
    Расходная ведомость
    {% endif %}
{% endblock %}
{% block mini_page_name %}
    <li><a href="{% url 'account_transaction' %}">Платежи</a></li>
    {% if type == 1 %}
    <li><a href="">Приходная ведомость №{{ transaction.instance.number }}</a></li>
    {% else %}
    <li><a href="">Расходная ведомость №{{ transaction.instance.number }}</a></li>
    {% endif %}
    <li class="active">
        Редактирование
    </li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<form id="AccountTransactionCreateForm" novalidate method="post"
      action="" enctype="multipart/form-data" data-account-url="{% url 'select_account_trans' %}">
    {% csrf_token %}
    <div class="row">
        <div hidden="hidden">{{ transaction.type }}</div>
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"> № </div>
                        {{ transaction.number }}
                    </div>
                </div>
                <span class="label-mid">от</span>
                <div class="form-group">
                    <div class="input-group">
                        {{ transaction.date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="col-md-12 text-right">
            <a  href="{% url 'account_transaction_copy' transaction.instance.type.id transaction.instance.id %}" class="btn btn-default btn-sm">
                <span class="hidden-xs">Копировать</span>
                <i class="fa fa-copy visible-xs" aria-hidden="true"></i>
            </a>
            <a class="btn btn-default btn-sm" href="{% url 'account_transaction_delete' transaction.instance.id %}" onclick="return confirmDelete()">
                <span class="hidden-xs">Удалить</span>
                <i class="fa fa-trash visible-xs"></i>
            </a>
        </div>
            <div class="row col-md-6">
                {% if type == 1 %}
                <div class="col-md-12 margin-bottom-15">
                    <label>Владелец квартиры</label>
                    {{ transaction.owner }}
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <label>Лицевой счет</label>
                    {{ transaction.account }}
                </div>
                {% endif %}
                <div class="col-md-12 margin-bottom-15">
                    <label>Статья</label>
                    {{ transaction.transaction }}
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <label>Сумма</label>
                    {{ transaction.sum }}
                </div>
            </div>
            <div class="row col-md-6">
                <div class="col-md-12 margin-bottom-15">
                    {{ transaction.is_complete }}
                    <label>Проведен</label>
                </div>
                <div class="col-md-12 margin-bottom-15">
                    <label>Менеджер</label>
                    {{ transaction.manager }}
                </div>
            </div>
            <div class="col-md-12 text-right">
                <div class="form-group">
                    <a href="{% url 'account_transaction' %}" class="btn btn-default">Отменить</a>
                    <button type="submit" name="save" class="btn btn-success">Сохранить</button>
                </div>
            </div>
            <div class="col-md-12">
                <label>Комментарий</label>
                {{ transaction.description }}
            </div>
        </div>
    </div>
</form>
{% endblock %}